In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('/Users/magnosouza/PycharmProjects/IntroducaoAnaliseDados/archive/tesla_deliveries_dataset_2015_2025.csv')
df.head()

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722

In [3]:
df.shape

(2640, 12)

In [4]:
df.describe()

,Year,Month,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Charging_Stations
count,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000
mean,2020.000000,6.500000,9922.199621,10655.847348,84907.340330,87.059470,500.257576,744.076989,8932.133712
std,3.162877,3.452707,3935.950093,4260.600858,20123.258036,20.836265,120.868549,353.221224,3469.565883
min,2015.000000,1.000000,48.000000,50.000000,50003.700000,60.000000,330.000000,3.070000,3002.000000
25%,2017.000000,3.750000,7292.000000,7828.250000,67726.365000,75.000000,418.000000,499.620000,5897.750000
50%,2020.000000,6.500000,9857.000000,10546.500000,85058.510000,82.000000,470.000000,699.515000,8901.500000
75%,2023.000000,9.250000,12510.250000,13469.000000,102373.042500,100.000000,586.250000,943.765000,11938.000000
max,2025.000000,12.000000,25704.000000,28939.000000,119965.360000,120.000000,719.000000,2548.550000,14996.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2640 non-null   int64
 1   Month                 2640 non-null   int64
 2   Region                2640 non-null   object
 3   Model                 2640 non-null   object
 4   Estimated_Deliveries  2640 non-null   int64
 5   Production_Units      2640 non-null   int64
 6   Avg_Price_USD         2640 non-null   float64
 7   Battery_Capacity_kWh  2640 non-null   int64
 8   Range_km              2640 non-null   int64
 9   CO2_Saved_tons        2640 non-null   float64
 10  Source_Type           2640 non-null   object
 11  Charging_Stations     2640 non-null   int64
dtypes: float64(2), int64(7), object(3)
memory usage: 247.6+ KB

In [6]:
df.isna().sum()

Year                    0
Month                   0
Region                  0
Model                   0
Estimated_Deliveries    0
Production_Units        0
Avg_Price_USD           0
Battery_Capacity_kWh    0
Range_km                0
CO2_Saved_tons          0
Source_Type             0
Charging_Stations       0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.head(10)

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722
5,2020,4,Asia,Model X,4656,5043,86930.57,82,477,333.14,Official (Quarter),5798
6,2015,11,Asia,Model 3,7717,7976,87588.21,82,475,549.84,Interpolated (Month),9961
7,2020,6,Europe,Cybertruck,8410,9192,73815.61,100,592,746.81,Official (Quarter),8216
8,2022,4,Europe,Model S,15145,15760,69993.86,100,563,1279.00,Interpolated (Month),13264
9,2021,3,Middle East,Model Y,7790,8208,50591.60,82,485,566.72,Interpolated (Month),3383

In [9]:
df_model = df.groupby(['Model', 'Region'])['Avg_Price_USD'].sum().reset_index().sort_values(by='Avg_Price_USD', ascending=False)
df_model

         Model         Region  Avg_Price_USD
8      Model S           Asia    11763131.50
5      Model 3         Europe    11573378.32
17     Model Y         Europe    11513868.59
18     Model Y    Middle East    11477781.01
13     Model X         Europe    11331306.32
16     Model Y           Asia    11329248.63
1   Cybertruck         Europe    11279110.07
10     Model S    Middle East    11244984.34
7      Model 3  North America    11202761.67
2   Cybertruck    Middle East    11137988.71
9      Model S         Europe    11133439.78
19     Model Y  North America    11129981.21
14     Model X    Middle East    11120004.97
0   Cybertruck           Asia    11107411.58
3   Cybertruck  North America    11090894.14
15     Model X  North America    11063798.43
4      Model 3           Asia    11041645.87
12     Model X           Asia    10965306.71
11     Model S  North America    10836336.25
6      Model 3    Middle East    10813000.37

In [10]:
df_grafico_model = px.bar(
    df_model,
    x='Model',
    y='Avg_Price_USD',
    color='Region',
    text_auto=True
)
df_grafico_model.show()

In [11]:
df.head()

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722

In [12]:
def ajuste_regiao(regiao):
    if regiao == 'Europe':
        return 'Europa'
    elif regiao == 'North America':
        return 'America do Norte'
    else:
        return 'Asia'

df['nova_region'] = df['Region'].apply(ajuste_regiao)

df.head()

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations,nova_region
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207,Europa
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640,Asia
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071,America do Norte
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333,America do Norte
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722,Asia

In [13]:
df.drop(columns=['Region'])

,Year,Month,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations,nova_region
0,2023,5,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207,Europa
1,2015,2,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640,Asia
2,2019,1,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071,America do Norte
3,2021,2,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333,America do Norte
4,2016,12,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2021,10,Model Y,13488,14333,113771.10,120,719,1454.68,Official (Quarter),4273,Asia
2636,2019,7,Model S,18300,18407,81889.67,82,487,1336.81,Official (Quarter),9833,Asia
2637,2019,9,Model S,13291,14839,97139.38,100,580,1156.32,Estimated (Region),13709,Asia
2638,2020,5,Cybertruck,3471,3714,69990.57,60,358,186.39,Interpolated (Month),6754,Asia
2639,2018,8,Model S,2639,2929,51676.24,82,474,187.63,Estimated (Region),14297,America do Norte