In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../archive/staff_schedule.csv')
df.head()

   week      staff_id    staff_name    role    service  present
0     1  STF-b77cdc60  Allison Hill  doctor  emergency        1
1     2  STF-b77cdc60  Allison Hill  doctor  emergency        1
2     3  STF-b77cdc60  Allison Hill  doctor  emergency        0
3     4  STF-b77cdc60  Allison Hill  doctor  emergency        1
4     5  STF-b77cdc60  Allison Hill  doctor  emergency        1

In [13]:
df.isna().sum()

week          0
staff_id      0
staff_name    0
role          0
service       0
present       0
dtype: int64

In [21]:
df.isna().any()

week          False
staff_id      False
staff_name    False
role          False
service       False
present       False
dtype: bool

In [14]:
df.duplicated().any()

np.False_

In [19]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [week, staff_id, staff_name, role, service, present]
Index: []

In [16]:
df = df[df['week'] >= 50]
df_week = df.groupby('week')['staff_id'].count().reset_index().rename(columns={'staff_id' : 'total'}).sort_values(by='week', ascending=True)
df_week

   week  total
0    50    126
1    51    126
2    52    126

In [27]:
df = df[df['role'] == 'doctor']
df_role = df.groupby(['service', 'present'])['staff_id'].count()
df_role

service           present
ICU               0           9
                  1           9
emergency         0           8
                  1          16
general_medicine  0           6
                  1           9
surgery           0           4
                  1           5
Name: staff_id, dtype: int64